{% extends "base.html" %}


{% block title %}
    Profile
{% endblock title %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row mt-n1-9">
            <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="{% static 'app\images\me.jpg' %}" class="rounded-circle" alt="..." /></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li>
                                    <a class="styled-icons-item" href="https://www.facebook.com/ngduhaui" target="_blank" id="openLink"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="https://twitter.com/ngdu2299" target="_blank" id="openLink"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="h5 mb-1"><a href="#!">Nguyễn Dự</a></h3>
                    <p class="mb-0">Nam Đinh</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="{% static 'app\images\doanh.jpg' %}" class="rounded-circle" alt="..." /></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li>
                                    <a class="styled-icons-item" href="https://www.facebook.com/nguyenvudoanh.1999" target="_blank" id="openLink"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="h5 mb-1"><a href="#!">Nguyễn Doanh</a></h3>
                    <p class="mb-0">Nam Đinh</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="{% static 'app\images\thao.jpg' %}" class="rounded-circle" alt="..." /></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li>
                                    <a class="styled-icons-item" href="https://www.facebook.com/thaothang.0201" target="_blank" id="openLink"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="h5 mb-1"><a href="#!">Phương Thảo</a></h3>
                    <p class="mb-0">Nam Đinh</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="{% static "app\images\thang.jpg" %}" class="rounded-circle" alt="..." /></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li>
                                    <a class="styled-icons-item" href="https://www.facebook.com/profile.php?id=100006447826368" target="_blank" id="openLink"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="h5 mb-1"><a href="#!">Kenny Thắng</a></h3>
                    <p class="mb-0">Nam Đinh</p>
                </div>
            </div>
            <div>
                <br><br><br>
            </div>
            <div class="section-title text-center">
                <h2 style="font-size: 40px; font-weight: 900; color: #fff;">Ăn Trực Team</h2>
                <p style="font-size: 20px;font-weight: 600; color: #fff;">Đây là profile 4 tên ăn trực mọi người lên né ra.</p>
            </div>
        </div>
    </div>


{% endblock content %}

